Mis últimos pasos/SoftPetWA/SoftPetBussiness/Connected Services/RolClient/Roles.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rol.softpetws.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Roles" targetNamespace="http://rol.softpetws.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPetWS/Roles?xsd=1" namespace="http://rol.softpetws.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="ObtenerRolesDelUsuario">
    <part name="parameters" element="tns:ObtenerRolesDelUsuario" />
  </message>
  <message name="ObtenerRolesDelUsuarioResponse">
    <part name="parameters" element="tns:ObtenerRolesDelUsuarioResponse" />
  </message>
  <message name="insertar">
    <part name="parameters" element="tns:insertar" />
  </message>
  <message name="insertarResponse">
    <part name="parameters" element="tns:insertarResponse" />
  </message>
  <message name="modificar">
    <part name="parameters" element="tns:modificar" />
  </message>
  <message name="modificarResponse">
    <part name="parameters" element="tns:modificarResponse" />
  </message>
  <message name="eliminar">
    <part name="parameters" element="tns:eliminar" />
  </message>
  <message name="eliminarResponse">
    <part name="parameters" element="tns:eliminarResponse" />
  </message>
  <message name="obtenerPorId">
    <part name="parameters" element="tns:obtenerPorId" />
  </message>
  <message name="obtenerPorIdResponse">
    <part name="parameters" element="tns:obtenerPorIdResponse" />
  </message>
  <message name="listarTodos">
    <part name="parameters" element="tns:listarTodos" />
  </message>
  <message name="listarTodosResponse">
    <part name="parameters" element="tns:listarTodosResponse" />
  </message>
  <portType name="Roles">
    <operation name="ObtenerRolesDelUsuario">
      <input wsam:Action="http://rol.softpetws.pucp.edu.pe/Roles/ObtenerRolesDelUsuarioRequest" message="tns:ObtenerRolesDelUsuario" />
      <output wsam:Action="http://rol.softpetws.pucp.edu.pe/Roles/ObtenerRolesDelUsuarioResponse" message="tns:ObtenerRolesDelUsuarioResponse" />
    </operation>
    <operation name="insertar">
      <input wsam:Action="http://rol.softpetws.pucp.edu.pe/Roles/insertarRequest" message="tns:insertar" />
      <output wsam:Action="http://rol.softpetws.pucp.edu.pe/Roles/insertarResponse" message="tns:insertarResponse" />
    </operation>
    <operation name="modificar">
      <input wsam:Action="http://rol.softpetws.pucp.edu.pe/Roles/modificarRequest" message="tns:modificar" />
      <output wsam:Action="http://rol.softpetws.pucp.edu.pe/Roles/modificarResponse" message="tns:modificarResponse" />
    </operation>
    <operation name="eliminar">
      <input wsam:Action="http://rol.softpetws.pucp.edu.pe/Roles/eliminarRequest" message="tns:eliminar" />
      <output wsam:Action="http://rol.softpetws.pucp.edu.pe/Roles/eliminarResponse" message="tns:eliminarResponse" />
    </operation>
    <operation name="obtenerPorId">
      <input wsam:Action="http://rol.softpetws.pucp.edu.pe/Roles/obtenerPorIdRequest" message="tns:obtenerPorId" />
      <output wsam:Action="http://rol.softpetws.pucp.edu.pe/Roles/obtenerPorIdResponse" message="tns:obtenerPorIdResponse" />
    </operation>
    <operation name="listarTodos">
      <input wsam:Action="http://rol.softpetws.pucp.edu.pe/Roles/listarTodosRequest" message="tns:listarTodos" />
      <output wsam:Action="http://rol.softpetws.pucp.edu.pe/Roles/listarTodosResponse" message="tns:listarTodosResponse" />
    </operation>
  </portType>
  <binding name="RolesPortBinding" type="tns:Roles">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ObtenerRolesDelUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Roles">
    <port name="RolesPort" binding="tns:RolesPortBinding">
      <soap:address location="http://localhost:8080/SoftPetWS/Roles" />
    </port>
  </service>
</definitions>