Mis últimos pasos/SoftPetWA/SoftPetBussiness/Connected Services/TipoServicioClient/TiposServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tiposervicio.softpetws.pucp.edu.pe/" targetNamespace="http://tiposervicio.softpetws.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminar_tiposervicios" type="tns:eliminar_tiposervicios" />
  <xs:element name="eliminar_tiposerviciosResponse" type="tns:eliminar_tiposerviciosResponse" />
  <xs:element name="insertar_tiposervicios" type="tns:insertar_tiposervicios" />
  <xs:element name="insertar_tiposerviciosResponse" type="tns:insertar_tiposerviciosResponse" />
  <xs:element name="listar_todos" type="tns:listar_todos" />
  <xs:element name="listar_todosResponse" type="tns:listar_todosResponse" />
  <xs:element name="modificar_tiposervicios" type="tns:modificar_tiposervicios" />
  <xs:element name="modificar_tiposerviciosResponse" type="tns:modificar_tiposerviciosResponse" />
  <xs:element name="obtener_por_id" type="tns:obtener_por_id" />
  <xs:element name="obtener_por_idResponse" type="tns:obtener_por_idResponse" />
  <xs:complexType name="obtener_por_id">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtener_por_idResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tipoServicioDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoServicioDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipoServicioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_tiposervicios">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="activo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_tiposerviciosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listar_todos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listar_todosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoServicioDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar_tiposervicios">
    <xs:sequence>
      <xs:element name="tipoServicioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar_tiposerviciosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificar_tiposervicios">
    <xs:sequence>
      <xs:element name="tipoServicioId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="activo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificar_tiposerviciosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>