PetMedicalCare/FrontEnd/SoftPetWA/SoftPetBussiness/Connected Services/TipoProductoClient/TiposProducto1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tipoproducto.softpetws.pucp.edu.pe/" targetNamespace="http://tipoproducto.softpetws.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminar_tipoproductos" type="tns:eliminar_tipoproductos" />
  <xs:element name="eliminar_tipoproductosResponse" type="tns:eliminar_tipoproductosResponse" />
  <xs:element name="insertar_tipoproductos" type="tns:insertar_tipoproductos" />
  <xs:element name="insertar_tipoproductosResponse" type="tns:insertar_tipoproductosResponse" />
  <xs:element name="listar_todos" type="tns:listar_todos" />
  <xs:element name="listar_todosResponse" type="tns:listar_todosResponse" />
  <xs:element name="modificar_tipoproductos" type="tns:modificar_tipoproductos" />
  <xs:element name="modificar_tipoproductosResponse" type="tns:modificar_tipoproductosResponse" />
  <xs:element name="obtener_por_id" type="tns:obtener_por_id" />
  <xs:element name="obtener_por_idResponse" type="tns:obtener_por_idResponse" />
  <xs:complexType name="obtener_por_id">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtener_por_idResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tipoProductoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProductoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipoProductoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_tipoproductos">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="activo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_tipoproductosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listar_todos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listar_todosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoProductoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar_tipoproductos">
    <xs:sequence>
      <xs:element name="tipoProductoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar_tipoproductosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificar_tipoproductos">
    <xs:sequence>
      <xs:element name="tipoProductoId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="activo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificar_tipoproductosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>