PetMedicalCare/FrontEnd/SoftPetWA/SoftPetBussiness/Connected Services/CitaAtencionClient/CitasAtencion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cita.softpetws.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CitasAtencion" targetNamespace="http://cita.softpetws.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPetWS/CitasAtencion?xsd=1" namespace="http://cita.softpetws.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listar_citas_Programadas">
    <part name="parameters" element="tns:listar_citas_Programadas" />
  </message>
  <message name="listar_citas_ProgramadasResponse">
    <part name="parameters" element="tns:listar_citas_ProgramadasResponse" />
  </message>
  <message name="ParseException">
    <part name="fault" element="tns:ParseException" />
  </message>
  <message name="listas_busqueda_avanzada_2">
    <part name="parameters" element="tns:listas_busqueda_avanzada_2" />
  </message>
  <message name="listas_busqueda_avanzada_2Response">
    <part name="parameters" element="tns:listas_busqueda_avanzada_2Response" />
  </message>
  <message name="listar_citas_por_mascota">
    <part name="parameters" element="tns:listar_citas_por_mascota" />
  </message>
  <message name="listar_citas_por_mascotaResponse">
    <part name="parameters" element="tns:listar_citas_por_mascotaResponse" />
  </message>
  <message name="insertar_cita">
    <part name="parameters" element="tns:insertar_cita" />
  </message>
  <message name="insertar_citaResponse">
    <part name="parameters" element="tns:insertar_citaResponse" />
  </message>
  <message name="listas_busqueda_avanzada">
    <part name="parameters" element="tns:listas_busqueda_avanzada" />
  </message>
  <message name="listas_busqueda_avanzadaResponse">
    <part name="parameters" element="tns:listas_busqueda_avanzadaResponse" />
  </message>
  <message name="modificar_cita">
    <part name="parameters" element="tns:modificar_cita" />
  </message>
  <message name="modificar_citaResponse">
    <part name="parameters" element="tns:modificar_citaResponse" />
  </message>
  <message name="obtener_por_id">
    <part name="parameters" element="tns:obtener_por_id" />
  </message>
  <message name="obtener_por_idResponse">
    <part name="parameters" element="tns:obtener_por_idResponse" />
  </message>
  <message name="listar_todos">
    <part name="parameters" element="tns:listar_todos" />
  </message>
  <message name="listar_todosResponse">
    <part name="parameters" element="tns:listar_todosResponse" />
  </message>
  <message name="Listas_Citas_Por_Mascotas_Y_Fechas">
    <part name="parameters" element="tns:Listas_Citas_Por_Mascotas_Y_Fechas" />
  </message>
  <message name="Listas_Citas_Por_Mascotas_Y_FechasResponse">
    <part name="parameters" element="tns:Listas_Citas_Por_Mascotas_Y_FechasResponse" />
  </message>
  <portType name="CitaAtencion">
    <operation name="listar_citas_Programadas">
      <input wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/listar_citas_ProgramadasRequest" message="tns:listar_citas_Programadas" />
      <output wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/listar_citas_ProgramadasResponse" message="tns:listar_citas_ProgramadasResponse" />
      <fault wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/listar_citas_Programadas/Fault/ParseException" name="ParseException" message="tns:ParseException" />
    </operation>
    <operation name="listas_busqueda_avanzada_2">
      <input wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/listas_busqueda_avanzada_2Request" message="tns:listas_busqueda_avanzada_2" />
      <output wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/listas_busqueda_avanzada_2Response" message="tns:listas_busqueda_avanzada_2Response" />
    </operation>
    <operation name="listar_citas_por_mascota">
      <input wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/listar_citas_por_mascotaRequest" message="tns:listar_citas_por_mascota" />
      <output wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/listar_citas_por_mascotaResponse" message="tns:listar_citas_por_mascotaResponse" />
    </operation>
    <operation name="insertar_cita">
      <input wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/insertar_citaRequest" message="tns:insertar_cita" />
      <output wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/insertar_citaResponse" message="tns:insertar_citaResponse" />
    </operation>
    <operation name="listas_busqueda_avanzada">
      <input wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/listas_busqueda_avanzadaRequest" message="tns:listas_busqueda_avanzada" />
      <output wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/listas_busqueda_avanzadaResponse" message="tns:listas_busqueda_avanzadaResponse" />
    </operation>
    <operation name="modificar_cita">
      <input wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/modificar_citaRequest" message="tns:modificar_cita" />
      <output wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/modificar_citaResponse" message="tns:modificar_citaResponse" />
    </operation>
    <operation name="obtener_por_id">
      <input wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/obtener_por_idRequest" message="tns:obtener_por_id" />
      <output wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/obtener_por_idResponse" message="tns:obtener_por_idResponse" />
    </operation>
    <operation name="listar_todos">
      <input wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/listar_todosRequest" message="tns:listar_todos" />
      <output wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/listar_todosResponse" message="tns:listar_todosResponse" />
    </operation>
    <operation name="Listas_Citas_Por_Mascotas_Y_Fechas">
      <input wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/Listas_Citas_Por_Mascotas_Y_FechasRequest" message="tns:Listas_Citas_Por_Mascotas_Y_Fechas" />
      <output wsam:Action="http://cita.softpetws.pucp.edu.pe/CitaAtencion/Listas_Citas_Por_Mascotas_Y_FechasResponse" message="tns:Listas_Citas_Por_Mascotas_Y_FechasResponse" />
    </operation>
  </portType>
  <binding name="CitaAtencionPortBinding" type="tns:CitaAtencion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listar_citas_Programadas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ParseException">
        <soap:fault use="literal" name="ParseException" namespace="" />
      </fault>
    </operation>
    <operation name="listas_busqueda_avanzada_2">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listar_citas_por_mascota">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertar_cita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listas_busqueda_avanzada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificar_cita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtener_por_id">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listar_todos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Listas_Citas_Por_Mascotas_Y_Fechas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CitasAtencion">
    <port name="CitaAtencionPort" binding="tns:CitaAtencionPortBinding">
      <soap:address location="http://localhost:8080/SoftPetWS/CitasAtencion" />
    </port>
  </service>
</definitions>