PetMedicalCare/FrontEnd/SoftPetWA/SoftPetBussiness/Connected Services/DocumentoDePagoClient/DocumentosDePago1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://docpago.softpetws.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DocumentosDePago" targetNamespace="http://docpago.softpetws.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPetWS/DocumentosDePago?xsd=1" namespace="http://docpago.softpetws.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="enviar_comprobante_al_correo">
    <part name="parameters" element="tns:enviar_comprobante_al_correo" />
  </message>
  <message name="enviar_comprobante_al_correoResponse">
    <part name="parameters" element="tns:enviar_comprobante_al_correoResponse" />
  </message>
  <message name="listar_por_fecha">
    <part name="parameters" element="tns:listar_por_fecha" />
  </message>
  <message name="listar_por_fechaResponse">
    <part name="parameters" element="tns:listar_por_fechaResponse" />
  </message>
  <message name="generar_comprobante_de_pago_pdf">
    <part name="parameters" element="tns:generar_comprobante_de_pago_pdf" />
  </message>
  <message name="generar_comprobante_de_pago_pdfResponse">
    <part name="parameters" element="tns:generar_comprobante_de_pago_pdfResponse" />
  </message>
  <message name="insertar_Documento_De_Pago">
    <part name="parameters" element="tns:insertar_Documento_De_Pago" />
  </message>
  <message name="insertar_Documento_De_PagoResponse">
    <part name="parameters" element="tns:insertar_Documento_De_PagoResponse" />
  </message>
  <message name="modificar_Documento_De_Pago">
    <part name="parameters" element="tns:modificar_Documento_De_Pago" />
  </message>
  <message name="modificar_Documento_De_PagoResponse">
    <part name="parameters" element="tns:modificar_Documento_De_PagoResponse" />
  </message>
  <message name="eliminar_Documento_De_Pago">
    <part name="parameters" element="tns:eliminar_Documento_De_Pago" />
  </message>
  <message name="eliminar_Documento_De_PagoResponse">
    <part name="parameters" element="tns:eliminar_Documento_De_PagoResponse" />
  </message>
  <message name="obtener_por_id">
    <part name="parameters" element="tns:obtener_por_id" />
  </message>
  <message name="obtener_por_idResponse">
    <part name="parameters" element="tns:obtener_por_idResponse" />
  </message>
  <message name="listar_todos">
    <part name="parameters" element="tns:listar_todos" />
  </message>
  <message name="listar_todosResponse">
    <part name="parameters" element="tns:listar_todosResponse" />
  </message>
  <message name="GeneracionDeSiguienteBoletaOFactura">
    <part name="parameters" element="tns:GeneracionDeSiguienteBoletaOFactura" />
  </message>
  <message name="GeneracionDeSiguienteBoletaOFacturaResponse">
    <part name="parameters" element="tns:GeneracionDeSiguienteBoletaOFacturaResponse" />
  </message>
  <portType name="DocumentosDePago">
    <operation name="enviar_comprobante_al_correo">
      <input wsam:Action="http://docpago.softpetws.pucp.edu.pe/DocumentosDePago/enviar_comprobante_al_correoRequest" message="tns:enviar_comprobante_al_correo" />
      <output wsam:Action="http://docpago.softpetws.pucp.edu.pe/DocumentosDePago/enviar_comprobante_al_correoResponse" message="tns:enviar_comprobante_al_correoResponse" />
    </operation>
    <operation name="listar_por_fecha">
      <input wsam:Action="http://docpago.softpetws.pucp.edu.pe/DocumentosDePago/listar_por_fechaRequest" message="tns:listar_por_fecha" />
      <output wsam:Action="http://docpago.softpetws.pucp.edu.pe/DocumentosDePago/listar_por_fechaResponse" message="tns:listar_por_fechaResponse" />
    </operation>
    <operation name="generar_comprobante_de_pago_pdf">
      <input wsam:Action="http://docpago.softpetws.pucp.edu.pe/DocumentosDePago/generar_comprobante_de_pago_pdfRequest" message="tns:generar_comprobante_de_pago_pdf" />
      <output wsam:Action="http://docpago.softpetws.pucp.edu.pe/DocumentosDePago/generar_comprobante_de_pago_pdfResponse" message="tns:generar_comprobante_de_pago_pdfResponse" />
    </operation>
    <operation name="insertar_Documento_De_Pago">
      <input wsam:Action="http://docpago.softpetws.pucp.edu.pe/DocumentosDePago/insertar_Documento_De_PagoRequest" message="tns:insertar_Documento_De_Pago" />
      <output wsam:Action="http://docpago.softpetws.pucp.edu.pe/DocumentosDePago/insertar_Documento_De_PagoResponse" message="tns:insertar_Documento_De_PagoResponse" />
    </operation>
    <operation name="modificar_Documento_De_Pago">
      <input wsam:Action="http://docpago.softpetws.pucp.edu.pe/DocumentosDePago/modificar_Documento_De_PagoRequest" message="tns:modificar_Documento_De_Pago" />
      <output wsam:Action="http://docpago.softpetws.pucp.edu.pe/DocumentosDePago/modificar_Documento_De_PagoResponse" message="tns:modificar_Documento_De_PagoResponse" />
    </operation>
    <operation name="eliminar_Documento_De_Pago">
      <input wsam:Action="http://docpago.softpetws.pucp.edu.pe/DocumentosDePago/eliminar_Documento_De_PagoRequest" message="tns:eliminar_Documento_De_Pago" />
      <output wsam:Action="http://docpago.softpetws.pucp.edu.pe/DocumentosDePago/eliminar_Documento_De_PagoResponse" message="tns:eliminar_Documento_De_PagoResponse" />
    </operation>
    <operation name="obtener_por_id">
      <input wsam:Action="http://docpago.softpetws.pucp.edu.pe/DocumentosDePago/obtener_por_idRequest" message="tns:obtener_por_id" />
      <output wsam:Action="http://docpago.softpetws.pucp.edu.pe/DocumentosDePago/obtener_por_idResponse" message="tns:obtener_por_idResponse" />
    </operation>
    <operation name="listar_todos">
      <input wsam:Action="http://docpago.softpetws.pucp.edu.pe/DocumentosDePago/listar_todosRequest" message="tns:listar_todos" />
      <output wsam:Action="http://docpago.softpetws.pucp.edu.pe/DocumentosDePago/listar_todosResponse" message="tns:listar_todosResponse" />
    </operation>
    <operation name="GeneracionDeSiguienteBoletaOFactura">
      <input wsam:Action="http://docpago.softpetws.pucp.edu.pe/DocumentosDePago/GeneracionDeSiguienteBoletaOFacturaRequest" message="tns:GeneracionDeSiguienteBoletaOFactura" />
      <output wsam:Action="http://docpago.softpetws.pucp.edu.pe/DocumentosDePago/GeneracionDeSiguienteBoletaOFacturaResponse" message="tns:GeneracionDeSiguienteBoletaOFacturaResponse" />
    </operation>
  </portType>
  <binding name="DocumentosDePagoPortBinding" type="tns:DocumentosDePago">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="enviar_comprobante_al_correo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listar_por_fecha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="generar_comprobante_de_pago_pdf">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertar_Documento_De_Pago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificar_Documento_De_Pago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminar_Documento_De_Pago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtener_por_id">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listar_todos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GeneracionDeSiguienteBoletaOFactura">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DocumentosDePago">
    <port name="DocumentosDePagoPort" binding="tns:DocumentosDePagoPortBinding">
      <soap:address location="http://localhost:8080/SoftPetWS/DocumentosDePago" />
    </port>
  </service>
</definitions>