PetMedicalCare/FrontEnd/SoftPetWA/SoftPetBussiness/Connected Services/DocumentoDePagoClient/DocumentosDePago1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://docpago.softpetws.pucp.edu.pe/" targetNamespace="http://docpago.softpetws.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GeneracionDeSiguienteBoletaOFactura" type="tns:GeneracionDeSiguienteBoletaOFactura" />
  <xs:element name="GeneracionDeSiguienteBoletaOFacturaResponse" type="tns:GeneracionDeSiguienteBoletaOFacturaResponse" />
  <xs:element name="eliminar_Documento_De_Pago" type="tns:eliminar_Documento_De_Pago" />
  <xs:element name="eliminar_Documento_De_PagoResponse" type="tns:eliminar_Documento_De_PagoResponse" />
  <xs:element name="enviar_comprobante_al_correo" type="tns:enviar_comprobante_al_correo" />
  <xs:element name="enviar_comprobante_al_correoResponse" type="tns:enviar_comprobante_al_correoResponse" />
  <xs:element name="generar_comprobante_de_pago_pdf" type="tns:generar_comprobante_de_pago_pdf" />
  <xs:element name="generar_comprobante_de_pago_pdfResponse" type="tns:generar_comprobante_de_pago_pdfResponse" />
  <xs:element name="insertar_Documento_De_Pago" type="tns:insertar_Documento_De_Pago" />
  <xs:element name="insertar_Documento_De_PagoResponse" type="tns:insertar_Documento_De_PagoResponse" />
  <xs:element name="listar_por_fecha" type="tns:listar_por_fecha" />
  <xs:element name="listar_por_fechaResponse" type="tns:listar_por_fechaResponse" />
  <xs:element name="listar_todos" type="tns:listar_todos" />
  <xs:element name="listar_todosResponse" type="tns:listar_todosResponse" />
  <xs:element name="modificar_Documento_De_Pago" type="tns:modificar_Documento_De_Pago" />
  <xs:element name="modificar_Documento_De_PagoResponse" type="tns:modificar_Documento_De_PagoResponse" />
  <xs:element name="obtener_por_id" type="tns:obtener_por_id" />
  <xs:element name="obtener_por_idResponse" type="tns:obtener_por_idResponse" />
  <xs:complexType name="GeneracionDeSiguienteBoletaOFactura">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeneracionDeSiguienteBoletaOFacturaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificar_Documento_De_Pago">
    <xs:sequence>
      <xs:element name="documentoPagoId" type="xs:int" />
      <xs:element name="metodoDePagoId" type="xs:int" />
      <xs:element name="personaId" type="xs:int" />
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="serie" type="xs:string" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element minOccurs="0" name="fechaEmision" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element name="subtotal" type="xs:double" />
      <xs:element name="igvTotal" type="xs:double" />
      <xs:element name="total" type="xs:double" />
      <xs:element name="activo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificar_Documento_De_PagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generar_comprobante_de_pago_pdf">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
      <xs:element name="idcomprobante" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generar_comprobante_de_pago_pdfResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_Documento_De_Pago">
    <xs:sequence>
      <xs:element name="metodoDePagoId" type="xs:int" />
      <xs:element name="personaId" type="xs:int" />
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="serie" type="xs:string" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element minOccurs="0" name="fechaEmision" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element name="subtotal" type="xs:double" />
      <xs:element name="igvTotal" type="xs:double" />
      <xs:element name="total" type="xs:double" />
      <xs:element name="activo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_Documento_De_PagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviar_comprobante_al_correo">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
      <xs:element name="idcomprobante" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviar_comprobante_al_correoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listar_por_fecha">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listar_por_fechaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:documentoPagoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="documentoPagoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="documentoPagoId" type="xs:int" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoDocumentoDePago" />
      <xs:element minOccurs="0" name="fechaEmision" type="tns:date" />
      <xs:element minOccurs="0" name="fechaEmisionString" type="xs:string" />
      <xs:element minOccurs="0" name="IGVTotal" type="xs:double" />
      <xs:element minOccurs="0" name="metodoDePago" type="tns:metodoDePagoDto" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element minOccurs="0" name="persona" type="tns:personaDto" />
      <xs:element minOccurs="0" name="serie" type="xs:string" />
      <xs:element minOccurs="0" name="subtotal" type="xs:double" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumentoDePago" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="date">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="metodoDePagoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="metodoDePagoId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="tns:tipoMetodoPago" />
      <xs:element minOccurs="0" name="nombreStr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nroDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="personaId" type="xs:int" />
      <xs:element minOccurs="0" name="ruc" type="xs:int" />
      <xs:element minOccurs="0" name="sexo" type="tns:sexo" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:date" />
      <xs:element minOccurs="0" name="fechaModificacion" type="tns:date" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCreador" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioModificador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtener_por_id">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtener_por_idResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:documentoPagoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar_Documento_De_Pago">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar_Documento_De_PagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listar_todos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listar_todosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:documentoPagoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoDocumentoDePago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMITIDO" />
      <xs:enumeration value="PAGADO" />
      <xs:enumeration value="ANULADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoMetodoPago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EFECTIVO" />
      <xs:enumeration value="TRANSFERENCIA" />
      <xs:enumeration value="YAPE" />
      <xs:enumeration value="PLIN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sexo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="M" />
      <xs:enumeration value="F" />
      <xs:enumeration value="O" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDocumentoDePago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOLETA" />
      <xs:enumeration value="FACTURA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>