Mis últimos pasos/SoftPetWA/SoftPetBussiness/Connected Services/CitaAtencionClient/CitasAtencion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cita.softpetws.pucp.edu.pe/" targetNamespace="http://cita.softpetws.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Listas_Citas_Por_Mascotas_Y_Fechas" type="tns:Listas_Citas_Por_Mascotas_Y_Fechas" />
  <xs:element name="Listas_Citas_Por_Mascotas_Y_FechasResponse" type="tns:Listas_Citas_Por_Mascotas_Y_FechasResponse" />
  <xs:element name="ParseException" type="tns:ParseException" />
  <xs:element name="insertar_cita" type="tns:insertar_cita" />
  <xs:element name="insertar_citaResponse" type="tns:insertar_citaResponse" />
  <xs:element name="listar_citas_Programadas" type="tns:listar_citas_Programadas" />
  <xs:element name="listar_citas_ProgramadasResponse" type="tns:listar_citas_ProgramadasResponse" />
  <xs:element name="listar_citas_por_mascota" type="tns:listar_citas_por_mascota" />
  <xs:element name="listar_citas_por_mascotaResponse" type="tns:listar_citas_por_mascotaResponse" />
  <xs:element name="listar_todos" type="tns:listar_todos" />
  <xs:element name="listar_todosResponse" type="tns:listar_todosResponse" />
  <xs:element name="listas_busqueda_avanzada" type="tns:listas_busqueda_avanzada" />
  <xs:element name="listas_busqueda_avanzadaResponse" type="tns:listas_busqueda_avanzadaResponse" />
  <xs:element name="listas_busqueda_avanzada_2" type="tns:listas_busqueda_avanzada_2" />
  <xs:element name="listas_busqueda_avanzada_2Response" type="tns:listas_busqueda_avanzada_2Response" />
  <xs:element name="modificar_cita" type="tns:modificar_cita" />
  <xs:element name="modificar_citaResponse" type="tns:modificar_citaResponse" />
  <xs:element name="obtener_por_id" type="tns:obtener_por_id" />
  <xs:element name="obtener_por_idResponse" type="tns:obtener_por_idResponse" />
  <xs:complexType name="listar_citas_por_mascota">
    <xs:sequence>
      <xs:element name="mascotaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listar_citas_por_mascotaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:citaAtencionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="citaAtencionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="citaId" type="xs:int" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoCita" />
      <xs:element minOccurs="0" name="fechaHoraFin" type="tns:timestamp" />
      <xs:element minOccurs="0" name="fechaHoraFinStr" type="xs:string" />
      <xs:element minOccurs="0" name="fechaHoraInicio" type="tns:timestamp" />
      <xs:element minOccurs="0" name="fechaHoraInicioStr" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" type="tns:date" />
      <xs:element minOccurs="0" name="fechaRegistroStr" type="xs:string" />
      <xs:element minOccurs="0" name="mascota" type="tns:mascotaDto" />
      <xs:element minOccurs="0" name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="observacion" type="xs:string" />
      <xs:element minOccurs="0" name="pesoMascota" type="xs:double" />
      <xs:element minOccurs="0" name="veterinario" type="tns:veterinarioDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timestamp">
    <xs:sequence>
      <xs:element name="nanos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="date">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="mascotaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="color" type="xs:string" />
      <xs:element minOccurs="0" name="especie" type="xs:string" />
      <xs:element minOccurs="0" name="fechaDefuncion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="mascotaId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="persona" type="tns:personaDto" />
      <xs:element minOccurs="0" name="raza" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nroDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="personaId" type="xs:int" />
      <xs:element minOccurs="0" name="ruc" type="xs:int" />
      <xs:element minOccurs="0" name="sexo" type="tns:sexo" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:date" />
      <xs:element minOccurs="0" name="fechaModificacion" type="tns:date" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCreador" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioModificador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="veterinarioDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="especialidad" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoVeterinario" />
      <xs:element minOccurs="0" name="fechaContratacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="persona" type="tns:personaDto" />
      <xs:element minOccurs="0" name="veterinarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificar_cita">
    <xs:sequence>
      <xs:element name="citaId" type="xs:int" />
      <xs:element name="veterinarioId" type="xs:int" />
      <xs:element name="mascotaId" type="xs:int" />
      <xs:element minOccurs="0" name="fechaHoraInicio" type="xs:string" />
      <xs:element minOccurs="0" name="fechaHoraFin" type="xs:string" />
      <xs:element name="pesoMascota" type="xs:double" />
      <xs:element name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="observacion" type="xs:string" />
      <xs:element name="activo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificar_citaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_cita">
    <xs:sequence>
      <xs:element name="veterinarioId" type="xs:int" />
      <xs:element name="mascotaId" type="xs:int" />
      <xs:element minOccurs="0" name="fechaHoraInicio" type="xs:string" />
      <xs:element minOccurs="0" name="fechaHoraFin" type="xs:string" />
      <xs:element name="pesoMascota" type="xs:double" />
      <xs:element name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="observacion" type="xs:string" />
      <xs:element name="activo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_citaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtener_por_id">
    <xs:sequence>
      <xs:element name="citaAtencionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtener_por_idResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:citaAtencionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Listas_Citas_Por_Mascotas_Y_Fechas">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMascota" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Listas_Citas_Por_Mascotas_Y_FechasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:citaAtencionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listar_citas_Programadas">
    <xs:sequence>
      <xs:element name="idVeterinario" type="xs:int" />
      <xs:element minOccurs="0" name="fechaDeCitas" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listar_citas_ProgramadasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:citaProgramadaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="citaProgramadaDto">
    <xs:sequence>
      <xs:element name="estaProgramada" type="xs:boolean" />
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParseException">
    <xs:sequence>
      <xs:element name="errorOffset" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listas_busqueda_avanzada">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
      <xs:element minOccurs="0" name="idVeterianrio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listas_busqueda_avanzadaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:citaAtencionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listar_todos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listar_todosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:citaAtencionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listas_busqueda_avanzada_2">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
      <xs:element minOccurs="0" name="idVeterianrio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listas_busqueda_avanzada_2Response">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:citaAtencionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoCita">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PROGRAMADA" />
      <xs:enumeration value="ATENDIDA" />
      <xs:enumeration value="CANCELADA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sexo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="M" />
      <xs:enumeration value="F" />
      <xs:enumeration value="O" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoVeterinario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVO" />
      <xs:enumeration value="INACTIVO" />
      <xs:enumeration value="SUSPENDIDO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>