PetMedicalCare/FrontEnd/SoftPetWA/SoftPetBussiness/Connected Services/RolUsuarioClient/RolesUsuario1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rolusuario.softpetws.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RolesUsuario" targetNamespace="http://rolusuario.softpetws.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPetWS/RolesUsuario?xsd=1" namespace="http://rolusuario.softpetws.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertar">
    <part name="parameters" element="tns:insertar" />
  </message>
  <message name="insertarResponse">
    <part name="parameters" element="tns:insertarResponse" />
  </message>
  <message name="modificar">
    <part name="parameters" element="tns:modificar" />
  </message>
  <message name="modificarResponse">
    <part name="parameters" element="tns:modificarResponse" />
  </message>
  <message name="eliminar">
    <part name="parameters" element="tns:eliminar" />
  </message>
  <message name="eliminarResponse">
    <part name="parameters" element="tns:eliminarResponse" />
  </message>
  <message name="obtenerPorId">
    <part name="parameters" element="tns:obtenerPorId" />
  </message>
  <message name="obtenerPorIdResponse">
    <part name="parameters" element="tns:obtenerPorIdResponse" />
  </message>
  <message name="listarTodos">
    <part name="parameters" element="tns:listarTodos" />
  </message>
  <message name="listarTodosResponse">
    <part name="parameters" element="tns:listarTodosResponse" />
  </message>
  <portType name="RolesUsuario">
    <operation name="insertar">
      <input wsam:Action="http://rolusuario.softpetws.pucp.edu.pe/RolesUsuario/insertarRequest" message="tns:insertar" />
      <output wsam:Action="http://rolusuario.softpetws.pucp.edu.pe/RolesUsuario/insertarResponse" message="tns:insertarResponse" />
    </operation>
    <operation name="modificar">
      <input wsam:Action="http://rolusuario.softpetws.pucp.edu.pe/RolesUsuario/modificarRequest" message="tns:modificar" />
      <output wsam:Action="http://rolusuario.softpetws.pucp.edu.pe/RolesUsuario/modificarResponse" message="tns:modificarResponse" />
    </operation>
    <operation name="eliminar">
      <input wsam:Action="http://rolusuario.softpetws.pucp.edu.pe/RolesUsuario/eliminarRequest" message="tns:eliminar" />
      <output wsam:Action="http://rolusuario.softpetws.pucp.edu.pe/RolesUsuario/eliminarResponse" message="tns:eliminarResponse" />
    </operation>
    <operation name="obtenerPorId">
      <input wsam:Action="http://rolusuario.softpetws.pucp.edu.pe/RolesUsuario/obtenerPorIdRequest" message="tns:obtenerPorId" />
      <output wsam:Action="http://rolusuario.softpetws.pucp.edu.pe/RolesUsuario/obtenerPorIdResponse" message="tns:obtenerPorIdResponse" />
    </operation>
    <operation name="listarTodos">
      <input wsam:Action="http://rolusuario.softpetws.pucp.edu.pe/RolesUsuario/listarTodosRequest" message="tns:listarTodos" />
      <output wsam:Action="http://rolusuario.softpetws.pucp.edu.pe/RolesUsuario/listarTodosResponse" message="tns:listarTodosResponse" />
    </operation>
  </portType>
  <binding name="RolesUsuarioPortBinding" type="tns:RolesUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RolesUsuario">
    <port name="RolesUsuarioPort" binding="tns:RolesUsuarioPortBinding">
      <soap:address location="http://localhost:8080/SoftPetWS/RolesUsuario" />
    </port>
  </service>
</definitions>