Mis últimos pasos/SoftPetWA/SoftPetBussiness/Connected Services/DetalleDocumentoDePagoClient/DetallesDocumentoDePago1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://detalledocpago.softpetws.pucp.edu.pe/" targetNamespace="http://detalledocpago.softpetws.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminar_Detalle_Documento_De_Pago" type="tns:eliminar_Detalle_Documento_De_Pago" />
  <xs:element name="eliminar_Detalle_Documento_De_PagoResponse" type="tns:eliminar_Detalle_Documento_De_PagoResponse" />
  <xs:element name="insertar_Detalle_Documento_De_Pago" type="tns:insertar_Detalle_Documento_De_Pago" />
  <xs:element name="insertar_Detalle_Documento_De_PagoResponse" type="tns:insertar_Detalle_Documento_De_PagoResponse" />
  <xs:element name="listar_todos" type="tns:listar_todos" />
  <xs:element name="listar_todosResponse" type="tns:listar_todosResponse" />
  <xs:element name="modificar_Detalle_Documento_De_Pago" type="tns:modificar_Detalle_Documento_De_Pago" />
  <xs:element name="modificar_Detalle_Documento_De_PagoResponse" type="tns:modificar_Detalle_Documento_De_PagoResponse" />
  <xs:element name="obtener_por_id" type="tns:obtener_por_id" />
  <xs:element name="obtener_por_idResponse" type="tns:obtener_por_idResponse" />
  <xs:complexType name="modificar_Detalle_Documento_De_Pago">
    <xs:sequence>
      <xs:element name="ddpId" type="xs:int" />
      <xs:element name="documentoPagoId" type="xs:int" />
      <xs:element name="servicioId" type="xs:int" />
      <xs:element name="productoId" type="xs:int" />
      <xs:element name="nroItem" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="precioUnitario" type="xs:double" />
      <xs:element name="valorVenta" type="xs:double" />
      <xs:element name="activo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificar_Detalle_Documento_De_PagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listar_todos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listar_todosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detalleDocumentoPagoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleDocumentoPagoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="dddpId" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="documentoPago" type="tns:documentoPagoDto" />
      <xs:element minOccurs="0" name="nroItem" type="xs:int" />
      <xs:element minOccurs="0" name="precioUnitario" type="xs:double" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDto" />
      <xs:element minOccurs="0" name="servicio" type="tns:servicioDto" />
      <xs:element minOccurs="0" name="valorVenta" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="documentoPagoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="documentoPagoId" type="xs:int" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoDocumentoDePago" />
      <xs:element minOccurs="0" name="fechaEmision" type="tns:date" />
      <xs:element minOccurs="0" name="fechaEmisionString" type="xs:string" />
      <xs:element minOccurs="0" name="IGVTotal" type="xs:double" />
      <xs:element minOccurs="0" name="metodoDePago" type="tns:metodoDePagoDto" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element minOccurs="0" name="persona" type="tns:personaDto" />
      <xs:element minOccurs="0" name="serie" type="xs:string" />
      <xs:element minOccurs="0" name="subtotal" type="xs:double" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumentoDePago" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="date">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="metodoDePagoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="metodoDePagoId" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="tns:tipoMetodoPago" />
      <xs:element minOccurs="0" name="nombreStr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nroDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="personaId" type="xs:int" />
      <xs:element minOccurs="0" name="ruc" type="xs:int" />
      <xs:element minOccurs="0" name="sexo" type="tns:sexo" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:date" />
      <xs:element minOccurs="0" name="fechaModificacion" type="tns:date" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCreador" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioModificador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:date" />
      <xs:element minOccurs="0" name="fechaModificacion" type="tns:date" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precioUnitario" type="xs:double" />
      <xs:element minOccurs="0" name="presentacion" type="xs:string" />
      <xs:element minOccurs="0" name="productoId" type="xs:int" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="tipoProducto" type="tns:tipoProductoDto" />
      <xs:element minOccurs="0" name="usuarioCreador" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioModificador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoProductoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipoProductoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="servicioDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="costo" type="xs:double" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="tns:date" />
      <xs:element minOccurs="0" name="fechaModificacion" type="tns:date" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="servicioId" type="xs:int" />
      <xs:element minOccurs="0" name="tipoServicio" type="tns:tipoServicioDto" />
      <xs:element minOccurs="0" name="usuarioCreador" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioModificador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoServicioDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipoServicioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar_Detalle_Documento_De_Pago">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar_Detalle_Documento_De_PagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtener_por_id">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtener_por_idResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:detalleDocumentoPagoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_Detalle_Documento_De_Pago">
    <xs:sequence>
      <xs:element name="documentoPagoId" type="xs:int" />
      <xs:element name="servicioId" type="xs:int" />
      <xs:element name="productoId" type="xs:int" />
      <xs:element name="nroItem" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="precioUnitario" type="xs:double" />
      <xs:element name="valorVenta" type="xs:double" />
      <xs:element name="activo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertar_Detalle_Documento_De_PagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoDocumentoDePago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMITIDO" />
      <xs:enumeration value="PAGADO" />
      <xs:enumeration value="ANULADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoMetodoPago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EFECTIVO" />
      <xs:enumeration value="TRANSFERENCIA" />
      <xs:enumeration value="YAPE" />
      <xs:enumeration value="PLIN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sexo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="M" />
      <xs:enumeration value="F" />
      <xs:enumeration value="O" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDocumentoDePago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOLETA" />
      <xs:enumeration value="FACTURA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>